
            body {
                font-family: sans-serif;
                margin: 0;
                padding: 0;
            }
            header {
                background-color: #f2f2f2;
                padding: 20px;
                text-align: center;
            }
            section {
                padding: 20px;
            }
            div {
                display: flex;
            }
            h1 {
                color: #333;
                font-size: 20px;
                margin-bottom: 10px;
            }
            h2 {
                color: #333;
                font-size: 24px;
                margin-bottom: 10px;
            }
            p {
                color: #666;
                font-size: 16px;
                margin-bottom: 20px;
            }
            a {
                color: #007bff;
            }
            table {
                width: auto;
                border-collapse: collapse;
                margin-bottom: 20px;
                text-align: center;
                border: black solid;
            }
            th, td {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }
            th {
                background-color: #f2f2f2;
            }
            form {
                width: auto;
                margin-top: 20px;
                border: black solid;
                display: inline-block;
                height: fit-content;
                padding: 10px;
            }
            label {
                display: block;
                margin-bottom: 5px;
            }
            input[type="text"], input[type="password"] {
                width: auto;
                padding: 10px;
                margin-bottom: 10px;
            }
            input[type="submit"] {
                background-color: #007bff;
                color: #fff;
                padding: 10px 20px;
                border: none;
                cursor: pointer;
            }
            footer {
                background-color: #f2f2f2;
                padding: 20px;
                text-align: center;
            }

